@using Treino.Aluno.UI.Web.ViewModels



@{
    ViewBag.Title = "Cadastrar";
}




@model AlunoVM

<div class="container">
    <div class="row">
        <div class="col-sm-6">
            @Html.Partial("_PartialAluno")
        </div>
        <div class="col-sm-6">
       @*     @Html.Partial("_PartialEndereco")*@
        </div>
    </div>
</div>




